<html>
    <head>
        <!-- placeholder -->
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <p><a href="/new">Add a message</a></p>
        <% messages.forEach((message) => { %>
        <span><%= message.message %></span><br />
        <span><%= message.username %></span><br />
        <span><%= message.created_at %></span><br />
        <span>----------</span><br />
        <% }); %>
    </body>
</html>
