<html>
    <head>
        <!-- placeholder -->
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <% messages.forEach((message) => { %>
        <span><%= message.text %></span><br />
        <span><%= message.user %></span><br />
        <span><%= message.added %></span><br />
        <span>----------</span><br />
        <% }); %>
    </body>
</html>
